@import './functions.scss';

$themes: (
  light: (
    backgroundColor: $color-brand-light-base,
    textColor: $color-brand-dark-base,
    buttonBackgroundColor: $color-brand-dark-base,
    buttonTextColor: $color-brand-light-base
  ),
  dark: (
    backgroundColor: $color-brand-dark-base,
    textColor: $color-brand-light-base,
    buttonBackgroundColor: $color-brand-light-base,
    buttonTextColor: $color-brand-dark-base
  )
);

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.namespacedContainer {
  &.light {
    background-color: theme-aware(light, backgroundColor);
    color: theme-aware(light, textColor);
  }

  &.dark {
    background-color: theme-aware(dark, backgroundColor);
    color: theme-aware(dark, textColor);
  }

  .button {
    border: none;
    border-radius: 0.3em;
    box-shadow: none;
    cursor: pointer;
    font-size: 1em;
    padding: 0.5em 1em;
  
    &.light {
      background-color: theme-aware(light, backgroundColor);
      color: theme-aware(light, textColor);
    }
  
    &.dark {
      background-color: theme-aware(dark, backgroundColor);
      color: theme-aware(dark, textColor);
    }
  }
}

    
    
    
    
