@import './variables.scss';

@mixin light-background {
  background-color: $color-brand-light-base;
  color: $color-brand-dark-base;
}

@mixin dark-background {
  background-color: $color-brand-dark-base;
  color: $color-brand-light-base;
}