@import './functions.scss';

@mixin light-background {
  background-color: theme-aware(light, backgroundColor);
  color: theme-aware(light, textColor);
}

@mixin dark-background {
  background-color: theme-aware(dark, backgroundColor);
  color: theme-aware(dark, textColor);
}