.container {
  &.light {
    background-color: #fafafa;
    color: #000;
  }

  &.dark {
    background-color: #222;
    color: #fff;
  }
}

.button {
  border: none;
  border-radius: 0.3em;
  box-shadow: none;
  cursor: pointer;
  font-size: 1em;
  padding: 0.5em 1em;

  &.light {
    background: #222;
    color: #eee;
  }

  &.dark {
    background: #eee;
    color: #222;
  }
}
    
    
    
    
